// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// Font Lexend
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

$font-family-base: 'Lexend', sans-serif;

// Boostrap import
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

$font-family-base: 'Lexend', sans-serif;

// Classes para as fontes do site

// Fontes para textos corridos

.lexend-text-light {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  
.lexend-text-regular {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
.lexend-text-medium {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
  

// Fontes para títulos
  
.lexend-title-semibold {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
  
.lexend-title-bold {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}